a:link {
    color: rgb(114, 113, 113);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(114, 113, 113);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
   color: white; 
  }
  
  a:active {
    color: rgb(114, 113, 113);
    background-color: transparent;
    text-decoration: none;
  }
  body {
    font-family: Inter;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
@font-face {
    font-family: Inter;
    src: url(../Font/Inter-Medium.ttf)
}
footer
{
    clear: both;
    text-align: center;
    color: #adadad;
    font-family: Inter;
    src:url(../Font/Inter-Light.ttf)

}
