
.filterDiv {
    float: left;
    background-color: transparent;
    color: #000000;
    width: 300px;
    line-height: 20px;
    text-align: center;
    margin: 2px;
    display: none;
    border: 0.1px solid rgb(90, 90, 90);
  }
  
  .show {
    display: block;
  }
  .content{
    margin: 0 auto;
    width: 1000px;
    
  }
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 20px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }